/* body * {
    font-family: "Courier";
} */

#main-page {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: .5em;
}

.gear-widgets {
    border-right: 1px solid white;
    display: flex;
    flex-wrap: wrap;

}

#add-gear-button {
    width: 10%; 
}