body {
    background: grey;
}

#main-page {
    display: grid;
    grid-template-columns: 100%;
    row-gap: .5em;
}

.gear-widgets {
    width: 50%;
    display: flex;
    flex-wrap: wrap;

}

#add-gear-button {
    width: 5%;
}