.switch {
    display: grid;
    grid-template-columns: 110px 1fr;
    margin-bottom: 5px;
}

.switch-label {
    text-align: right;
    padding: 7px;
}

.switch-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 1px 1px 3px;
}

.switch-option {
    background: white;
    color: black;
    text-align: center;
    padding: 7px;
    cursor: pointer;
}

.switch-option-selected {
    background: black;
    color: white;
    text-align: center;
    padding: 7px;
}