.gear-widget {
    border: 1px solid black;
    border-radius: 2%;
    width: 250px;
    margin: 10px;    
    padding: 15px;
    display: inline-block;
    vertical-align: top;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: background-color .2s;
}

.gear-widget-delete-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;;
}

.gear-widget-delete:hover {
    color: red;
    cursor: pointer;
}

.gear-name-container {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.gear-name:hover {
    cursor: pointer;
    color: rgb(131, 131, 131);
}

.stats {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.stats-section {
    border-top: 1px solid silver;
    margin-top: 20px;
}

.stats-section-title {
    text-align: center;
    margin-top: 3px;
}

.stat {
    margin-top: 5px;
    padding: 5px;
}

.stat-name {
    font-size: .8rem;
}

.stat-value {
    font-size: 1.2rem;
   
}

.bold {
    font-weight: bold;
}


