.gear-widget {
    border: 1px solid black;
    width: 250px;
    margin: 10px;    
}

.gear-widget:hover {
    cursor: pointer;
    background: rgb(247, 246, 246);
}

.gear-name {
    font-weight: bold;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.stats {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.stat {
    margin-bottom: 3px;
}

.stat-name {
    font-size: .8rem;
}

.stat-value {
    font-size: 1rem;
}

