.gear-widget {
    border: 1px solid black;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    grid-gap: .5em;
}

.form-input-container {
    display: contents;
}

form label {
    grid-column: 1;
    text-align: left;
}

form input {
    grid-column: 2;      
    margin-left: 0;    
}








.editable-value:hover {
    cursor: pointer;
}

.bike-select-selected-option {
    background: powderblue;
}